@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

table {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --index: calc(1vw + 1vh);
}

[class*=-full] {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.not-scrolling {
  overflow: hidden;
}

.wrapper {
  display: flex;
}
.wrapper__left {
  min-width: 306px;
}
@media screen and (max-width: 1150px) {
  .wrapper__left {
    min-width: 0;
  }
}
.wrapper__right {
  width: min(968px, 100% - 3rem);
  margin-inline: auto;
}

.side-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 306px;
  height: 100%;
  box-shadow: 0px 10px 60px 0px rgba(182, 189, 199, 0.5);
  border-right: 1px solid rgba(182, 189, 199, 0.5);
  padding-top: 4vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 8.3vh;
  background-color: #FFF;
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 1150px) {
  .side-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);
  }
}
.side-menu-active {
  width: 100%;
  transform: translateX(0%);
}
.side-menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  background: #FFF;
  box-shadow: 0px 10px 60px 0px rgba(182, 189, 199, 0.5);
  border: 1px solid rgba(182, 189, 199, 0.5);
  border-radius: 4px;
  position: fixed;
  top: 32px;
  right: 20px;
  z-index: 1001;
}
@media screen and (max-width: 1150px) {
  .side-menu-btn {
    display: block;
  }
}
.side-menu-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  width: calc(100% - 10px);
  height: 2px;
}
.side-menu-btn span::before, .side-menu-btn span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}
.side-menu-btn span::before {
  transform: translateY(-7px);
}
.side-menu-btn span::after {
  transform: translateY(7px);
}
.side-menu-btn-active span {
  height: 0;
}
.side-menu-btn-active span::before {
  top: 50%;
  left: 50%;
  height: 2px;
  width: calc(100% - 5px);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.side-menu-btn-active span::after {
  top: 50%;
  left: 50%;
  height: 2px;
  width: calc(100% - 5px);
  transform: translate(-50%, -50%) rotate(45deg);
}
.side-menu__header {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.side-menu__icon {
  width: 37px;
  height: 37px;
}
.side-menu__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.side-menu__title {
  font-size: 26px;
  font-weight: 600;
}
.side-menu__version {
  position: relative;
  top: 5px;
  font-size: 10px;
  font-weight: 500;
}
.side-menu__list {
  padding-top: 7vh;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.side-menu__item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 14px;
  font-weight: 500;
  border-radius: 8px;
}
.side-menu__item:hover {
  background-color: #5932EA;
}
.side-menu__item:hover .side-menu__item-text {
  color: #FFF;
}
.side-menu__item:hover .side-menu__item-icon svg path {
  fill: #FFF;
}
.side-menu__user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.side-menu__user-avatar {
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
}
.side-menu__user-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.side-menu__user-name {
  color: #000000;
  font-weight: 500;
  line-height: 18px;
}
.side-menu__user-post {
  color: #757575;
  font-size: 12px;
  line-height: 18px;
}

.product__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.product__title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  padding-top: 4.5vh;
}

.customers {
  padding-top: 8.8vh;
}
.customers__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 13px;
}
@media screen and (max-width: 480px) {
  .customers__header {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-right: 0;
  }
}
.customers__title {
  line-height: 45px;
  font-size: 22px;
  font-weight: 600;
}
.customers__subtext {
  line-height: 10px;
  color: #16C098;
}
.customers__search {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  width: 216px;
  height: 38px;
  padding: 0 10px;
  box-shadow: 2px 2px 10px rgb(204, 204, 204);
}
.customers__search-label {
  width: 100%;
  height: 100%;
}
.customers__search-input {
  width: inherit;
  height: inherit;
  outline: none;
  border: none;
  padding-right: 10px;
}
.customers__search-input::-moz-placeholder {
  color: #B5B7C0;
}
.customers__search-input::placeholder {
  color: #B5B7C0;
}
.customers__table-container {
  width: 100%;
  overflow-x: auto;
}
.customers__table {
  width: 100%;
  border-collapse: collapse;
}
.customers__table-header th {
  color: #B5B7C0;
  font-weight: 500;
  padding-top: 39px;
  padding-bottom: 14px;
  padding-right: 10px;
  padding-left: 10px;
  text-wrap: nowrap;
}
.customers__table-header th:not(:last-child) {
  text-align: left;
}
.customers__table-item:not(:last-child) {
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 1px 0 5px #EEEEEE;
}
.customers__table-item td {
  color: #292D32;
  font-weight: 500;
  padding: 20px 10px;
  text-align: left;
  text-wrap: nowrap;
}
.customers__table-status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers__table-check {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.customers__table-check:checked ~ .customers__table-check-btn {
  border: 1px solid #DF0404;
  background-color: #FFC5C5;
  color: #DF0404;
}
.customers__table-check:checked ~ .customers__table-check-btn::before {
  content: attr(data-inactive);
}
.customers__table-check-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 4px;
  background-color: rgba(22, 192, 152, 0.3803921569);
  border: 1px solid #00B087;
  color: #008767;
}
.customers__table-check-btn::before {
  content: attr(data-active);
}
.customers__pagination-container {
  display: flex;
  padding-top: 30px;
}
@media screen and (max-width: 660px) {
  .customers__pagination-container {
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.customers__pagination-info {
  display: flex;
  align-items: center;
  flex: 1;
  color: #B5B7C0;
}
.customers__pagination-info > span {
  padding-left: 5px;
}
.customers__pagination {
  display: flex;
  gap: 15px;
}
.customers__prev {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
}
.customers__prev:hover::before {
  background: #070808;
}
.customers__prev:hover::after {
  background: #070808;
}
.customers__prev::before, .customers__prev::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}
.customers__prev::before {
  width: 7px;
  height: 1px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
  background: #404B52;
}
.customers__prev::after {
  width: 7px;
  height: 1px;
  transform: rotate(45deg);
  transform-origin: left top;
  background: #404B52;
}
.customers__btns {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.customers__btns-selector {
  position: relative;
  bottom: 5px;
}
.customers__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;
  border-radius: 4px;
  font-weight: 500;
  color: #404B52;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.customers__btn:hover {
  color: #FFF;
  background-color: #5932EA;
}
.customers__next {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
}
.customers__next:hover::before {
  background: #070808;
}
.customers__next:hover::after {
  background: #070808;
}
.customers__next::before, .customers__next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}
.customers__next::before {
  width: 7px;
  height: 1px;
  transform: rotate(45deg);
  transform-origin: right bottom;
  background: #404B52;
}
.customers__next::after {
  width: 7px;
  height: 1px;
  transform: rotate(-45deg);
  transform-origin: right top;
  background: #404B52;
}

.pagination-active {
  color: #FFF;
  background-color: #5932EA;
}