//~~

.product {

	// .product__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
	}

	// .product__title
	&__title {
		position: relative;
		font-size: $right-section-title;
		font-weight: $medium-weight;
		padding-top: 4.5vh;
	}
}